body {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(230,230,230);
}

.wrapper {
  width: 65%;
  margin: 5% auto;
  padding: 0;
}

.view-toggle {
  width: 50%;
  display: block;
}

h1 {

}

h2 {

}

h3 {

}

h4 {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 1%;
  margin: 0;
}

.container h4 {
  text-align: center;
}

.container {
  width: 100%;
  margin: 5% auto;
  padding: 0;
}

.container img.thumbnail {
  width: 100%;
  margin-bottom: 2%;
}

.student-grid {
  width: 45%;
  display: inline-block;
  padding: 1% 2%;
  margin: 0 auto;
}

.grid-view {
  
}

p {
  display: inline;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

.student {
  width: 100%;
  padding: 3% 1% 3% 0;
}

.student-list {
  display: inline-block;
}

img.thumbnail {
  display: inline-block;
  float: left;
  max-width: 250px;
  width: 15%;
  border: 2px solid rgba(255,255,255,.6);
  /*border-radius: 100%;*/
  margin-right: 15px;
}
